gensim==4.2.0
spacy==3.4.4
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0.tar.gz
dask[distributed]==2023.5.0
pydantic==2.2.1
transformers==4.40.1
safetensors
hydra
omegaconf